#outer{
    margin-left: 15vw;
    margin-top: 15vh;
    width: 80vw;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;

}
#headTitle{
    font-weight: bold;
    font-size: xx-large;
}


body{
    background-color: rgb(215, 214, 214);
}

/*.searchdate{*/
/*    position: absolute;*/
/*    margin-top: -10vh;*/
/*    margin-left: 70vw;*/
/*    display: flex;*/
/*    gap: 10px;*/
/*}*/

.searchdate{
    width: 20%;
    /*margin-left: 80vw;*/
    align-self: flex-end;

}

.custom-title{
    font-size: 30px;
    font-weight: bold;
}

